<?xml version="1.0"?>
<robot name="coke" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="coke" params="parent transX transY transZ">
    <link name="coke">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 ${M_PI/2} 0.0"/>
            <geometry>
                <mesh filename="package://tbot/meshes/coke_can.dae" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 ${M_PI/2} 0.0"/>
            <geometry>
                <mesh filename="package://tbot/meshes/coke_can.dae" />
            </geometry>
        </collision>
      <inertial>
        <mass value="${wheel_mass}" />
        <origin xyz="0 0 0" />
        <xacro:cylinder_inertia  m="${wheel_mass}"
          r="0.03" h="0.1" />
      </inertial>
    </link>

    <gazebo reference="coke">
      <turnGravityOff>false</turnGravityOff>
      <material>Gazebo/Red</material>
      <mu1 value="0.0"/>
      <mu2 value="0.0"/>
    </gazebo>

    <joint name="coke_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="coke"/>
      <origin xyz="${transX} ${transY} ${transZ}" rpy="0 0 0" /> 
    </joint>
   </xacro:macro>
</robot>










<!-- <model name='MyCoe'>
      <model name='coke_can'>
        <link name='link'>
          <inertial>
            <pose>0 0 0.06 0 -0 0</pose>
            <mass>0.1</mass>
            <inertia>
              <ixx>0.00055575</ixx>
              <ixy>0</ixy>
              <ixz>0</ixz>
              <iyy>0.00055575</iyy>
              <iyz>0</iyz>
              <izz>0.0001755</izz>
            </inertia>
          </inertial>
          <collision name='collision'>
            <pose>0.003937 0.004724 -0.18 0 -0 0</pose>
            <geometry>
              <mesh>
                <uri>model://coke_can/meshes/coke_can.dae</uri>
              </mesh>
            </geometry>
            <surface>
              <friction>
                <ode>
                  <mu>1</mu>
                  <mu2>1</mu2>
                </ode>
                <torsional>
                  <ode/>
                </torsional>
              </friction>
              <contact>
                <ode>
                  <kp>1e+07</kp>
                  <kd>1</kd>
                  <min_depth>0.001</min_depth>
                  <max_vel>0.1</max_vel>
                </ode>
              </contact>
              <bounce/>
            </surface>
            <max_contacts>10</max_contacts>
          </collision>
          <visual name='visual'>
            <pose>0.003937 0.004724 -0.18 0 -0 0</pose>
            <geometry>
              <mesh>
                <uri>model://coke_can/meshes/coke_can.dae</uri>
              </mesh>
            </geometry>
          </visual>
          <self_collide>0</self_collide>
          <enable_wind>0</enable_wind>
          <kinematic>0</kinematic>
        </link>
        <pose>0 -0 0 0 -0 0</pose>
      </model>
      <static>0</static>
      <allow_auto_disable>1</allow_auto_disable>
      <pose>0.691372 0.237312 0 0 -0 0</pose>
    </model>


    <model name='MyCoe'>
        <pose>0.270899 0.683831 0.579934 -0.015206 -0.00159 1.9e-05</pose>
        <scale>1 1 1</scale>
        <model name='coke_can'>
          <pose>0.270899 0.683831 0.579934 -0.015206 -0.00159 1.9e-05</pose>
          <scale>1 1 1</scale>
          <link name='link'>
            <pose>0.270899 0.683831 0.579934 -0.015206 -0.00159 1.9e-05</pose>
            <velocity>0 0 0 0 -0 0</velocity>
            <acceleration>-2e-06 -8.5e-05 -1.4e-05 0.001484 -4.3e-05 1.6e-05</acceleration>
            <wrench>-1e-06 -3.3e-05 -6e-06 0 -0 0</wrench>
          </link>
        </model>
    </model> -->